<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <style>

        .text {
            margin-left: 10px;
        }
        A {
            color: black;
            text-decoration: none;
        }

        .inform {
            margin: 15px;
            padding: 15px;
            background-color: RGBA(230, 250, 218, 0.7);
            color: black;
            bottom: 15px;
        }
        .leftImg {
            float:left;
            margin: 0px 25px 7px 0;
        }
    </style>
</head>
<body>
<div class="inform">
    <div class="inform">
        <h1>Оrativskyi Serhii</h1>
        <h2>Software engineer</h2>
        <div class="text">
            <p><img src="{% static "firstapp\img\photo.jpg" %}" alt="Супер програміст" width="140" height="186" class="leftImg"><b>Employment:</b> <span>Full time</span></p>
            <p><b>Work schedule:</b> <span>Full day</span></p>
            <p><b>Willingness to travel:</b> <span>Yes</span></p>
            <p><b>Desired salary:</b> <span>1500$</span></p>
            <p><b>Telephone:</b> <span>+380 96 (607) 08 36</span></p>
            <p><b>Email:</b> <span><a href="mailto: soratik35@gmail.com">Soratik35@gmail.com</a></span>
            </p>
        </div>
    </div>
    <hr>
    <div class="inform">
        <h3>Personal information</h3>
        <div class="text">
            <p><img src="{% static "firstapp\img\1.jpg" %}" alt="Супер програміст" width="170" height="220" class="leftImg"><b>nationality:</b> <span>Ukraine</span></p>
            <p><b>Place of residence:</b> <span>Talne</span></p>
            <p><b>Moving:</b> <span>Possible</span></p>
            <p><b>Education:</b> <span>Junior Specialist</span></p>
            <p><b>Date of birth:</b> <span>16 August 2001 (19 years old)</span></p>
            <p><b>Sex:</b> <span>Men</span></p>
            <p><b>Marital status:</b> <span>Not married</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="inform">
        <h3>Experience</h3>
        <div class="text">
            <div>
                <p><img src="{% static "firstapp\img\none.png" %}" alt="Супер програміст" width="25" height="25" class="leftImg"><b>None</b></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="inform">
        <h3>Education</h3>
        <div class="text">
            <div>
                <p><img src="{% static "firstapp\img\2.jpg" %}" alt="Супер програміст" width="90" height="126" class="leftImg"><b>Educational Institution:</b> <span>Talniv Construction and Economic College. Talne</span></p>
                <p><b>Year of graduation:</b> <span>2020</span></p>
                <p><b>Specialty:</b> <span>Software engineering</span></p>
                <p><b>Form of study:</b> <span>Full-time</span></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="inform">
        <h3>Additional Information</h3>
        <div class="text">
            <p><img src="{% static "firstapp\img\3.jpg" %}" alt="Супер програміст" width="90" height="126" class="leftImg"><b>>Foreign languages:</b> <span>English (technical), Russian</span></p>
            <p><b>Computer skills:</b> <span>C++, Javascript, Delphi, HTML+CSS.</span></p>
            <p><b>Availability of driver's license (category):</b> <span>B</span></p>
            <p><b>Service in the army:</b> <span>No</span></p>
        </div>
    </div>
    <hr>
    <button class="text"><a href="resumeH">Ukrainian</a></button>
</div>
</body>
</html>
